.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-tooltip-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: text;
}
